# Виртуальное окружение
.venv/
venv/
env/

# Кэш питона
__pycache__/
*.pyc

# Скрытые файлы сред разработки и ОС
.vscode/
.idea/
.DS_Store

# Файлы с паролями и токенами (на будущее)
.env

# test
test.py
.exe